nav {
	position: fixed;
	top: 0;
	border-bottom: 1px solid var(--border);
	padding: 1rem;
	width: 100vw;
	display: flex;
	justify-content: end;
	align-items: center;
	background-color: var(--navigation);
}

nav div {
	display: flex;
	align-items: center;
	padding: 0rem 3rem;
}

nav a {
	text-decoration: none;
	font-weight: bold;
	margin: 0rem 1rem;
	border-radius: 10px;
	padding: 1rem 2rem;
}

nav a:hover {
	background-color: var(--shade);
}

nav img {
	height: 40px;
}

.theme-toggle {
	background-color: var(--navigation);
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

.theme-toggle:hover {
	background-color: var(--shade);
}

@media only screen and (max-width: 768px) {
	nav {
		margin: 0;
		padding: 1rem 0;
		justify-content: center;
	}

	nav a {
		margin: 0;
		padding: 0;
	}

	nav div {
		width: 90vw;
		padding: 0;
		margin: 0;
		justify-content: space-around;
	}

	nav img {
		height: 32px;
	}
}
