
.projects a {
	width: fit-content;
}

.projects h2:hover {
	color: var(--accent);
	background-image: none;
}

.projects article {
	display: flex;
	flex-direction: column;
}

.projects .grid-element img {
	max-width: 100%;
	height: auto;
	margin: 1rem 0rem;
	justify-self: center;
}
