.light-theme {
	--text: #130900;
	--background: #fff7f0;
	--primary: #f9890d;
	--secondary: #88f1c4;
	--accent: #54f2d9;
	--shade: hsl(154, 79%, 74%, 20%);
	--shade-accent: #a0f8eb;
	--border: rgba(100, 100, 100, 0.5);
}

.dark-theme {
	--text: #f0e7eb;
	--background: #0a0507;
	--primary: rgba(130, 43, 87, 0.2);
	--secondary: rgba(218, 164, 190, 0.2);
	--accent: #45e8e6;
	--shade: #1f1419;
	--shade-accent: #a4f4f2;
	--border: rgba(255, 255, 255, 0.25);
}

/* --primary: #832c57;
	--secondary: #d9a3bd; */

* {
	color: var(--text);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
	background-color: var(--background);
	margin: 0rem;
}

main {
	display: flex;
	flex-direction: column;
	margin: 0rem 5rem;
	margin-top: 7rem;
	align-items: center;
}

h1 {
	font-size: 3rem;
	margin-top: 0rem;
}

h2 {
	font-size: 2.5rem;
	margin: 0rem;
}

h3 {
	font-size: 1rem;
}

a {
	text-decoration: none;
}

.underline {
	width: fit-content;
	background-image: linear-gradient(transparent 90%, var(--accent) 10%);
}

.accent {
	color: var(--accent);
}

.shade-primary {
	background-color: var(--primary);
}

.shade-secondary {
	background-color: var(--secondary);
}

.round-corners {
	border-radius: 20px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
	margin: 1rem 0rem;
}

.grid-element {
	padding: 1rem 2rem;
}

.flex-grid {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	margin: 1rem 0rem;
	justify-content: space-between;
}

.flex-element {
	flex: 1;
}

@media only screen and (max-width: 1120px) {
	.flex-grid {
		flex-direction: column;
	}
}

@media only screen and (max-width: 768px) {
	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.5rem;
	}

	p {
		font-size: 16px;
	}

	a {
		font-size: 16px;
	}

	main {
		margin: 0rem 2rem;
		margin-top: 7rem;
	}

	.grid {
		grid-template-columns: 1fr;
	}

	.underline {
		background-image: none;
		text-decoration: underline;
		text-decoration-color: var(--accent);
	}
}
